<p id="notice"><%= notice %></p>

<h1>Opinions</h1>



<div class=”container”>
  <div class=”row”>

    <% @opinions.each do |opinion| %>
      <div class=”col-sm-3” style="display:inline-block">
        <span><%= opinion.preview %></span>
        <span><%= opinion.explanation %></span>


        <!--<div class="thumbnail">-->
        <%= link_to image_tag(opinion.proof.url(:medium), class: 'img-rounded'), opinion.proof.url, target: '_blank' %>
        <!--</div>-->

        <span><%= opinion.user_id %></span>
        <%= current_user.id %>
        <%= link_to 'Show', opinion %>

        <% if current_user.id == opinion.user_id %>
          <%= link_to 'Edit', edit_opinion_path(opinion) %>
          <%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

      </div>
    <% end %>

  </div>


</div>


<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

</div>


<div class="row text-center">

  <% @opinions.each do |opinion| %>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">

      <%= link_to image_tag(opinion.proof.url(:medium), class: 'card-img-top img-rounded'), opinion.proof.url, target: '_blank' %>

      <div class="card-body">
        <h4 class="card-title"><%= opinion.preview %></h4>
        <p class="card-text"><%= opinion.explanation %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'Show', opinion, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <% end %>
</div>


<br>

<%= link_to 'New Opinion', new_opinion_path %>
