


<p>
  <strong>Preview:</strong>
  <%= @opinion.preview %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @opinion.explanation %>
</p>

<p>
  <strong>User:</strong>
  <%= @opinion.user.username %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
