<div class="row text-center">

  <% products.each do |product| %>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">

        <%= link_to image_tag(product.thumbnail.url(:medium), class: 'card-img-top img-rounded'), product %>

        <div class="card-body">
          <h4 class="card-title">
            <%= link_to  product.title, product, class: 'btn-link text-info'%>
          </h4>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', product, class: 'btn btn-primary' %>
          <% if current_user.id == product.user_id or current_user.supplier? %>
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary' %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>