<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--TODO move these 3 to helper-->
    <%= csrf_meta_tags %>

    <link href="https://blackrockdigital.github.io/startbootstrap-heroic-features/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/stylesheets/glyphicons.css" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Store n Opinions</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-left">

          <li class="nav-item <%= 'active' if params[:controller] == 'welcome' %>">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'users' %>">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'opinions' %>">
            <a class="nav-link" href="/opinions">Opinions</a>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'products' %>">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>


        <ul class="nav navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>


  <br/>
  <br/>


  <div class="container theme-showcase">

    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Success!</strong> <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Error!</strong> <%= alert %>
      </div>
    <% end %>



    <div class="jumbotron">
      <%= yield %>

      <!--<button type="button" class="btn btn-default">-->
        <!--<span class="glyphicon glyphicon-search"></span> Search-->
      <!--</button>-->
    </div>



  </div> <!-- /container -->
  </body>
</html>
